@font-face {
  font-family: 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* PC */

.P_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-color: #ffed54;
    border-width: 0.4vw;
    margin-top: 18vh;
}

.title_P {
    position: relative;
    font-size: 10vw;
    color: #ffed54;
    /* left: 1vw; */
    bottom: 1vh;
    text-align: center;
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    animation:txtE 4s infinite;
}

@keyframes txtE {
  60% {
    transform: translate(20px, 0) scale(1);
    color:#ffed54;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color:#fff384;
  }

  90% {
    transform: translate(0) scale(1.2);
    color:#fff491;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color:#ffed54;
  }
}
.title_P:nth-of-type(2) {
  animation-delay: .1s;
}
.title_P:nth-of-type(3) {
  animation-delay: .2s;
}
.title_P:nth-of-type(4) {
  animation-delay: .3s;
}
.title_P:nth-of-type(5) {
  animation-delay: .4s;
}
.title_P:nth-of-type(6) {
  animation-delay: .5s;
}

#centerimage{
  position: relative;
  bottom: 8vh;
}


.subtitle_P {
    font-size: 2.5vw;
    color: white;
    position: relative;
    left: 3vw;
    bottom: 1.5vw;
}

#prince_P {
    /* width: 6vw; */
    width: 10vw;
    position: relative;
    left: 12vw;
    bottom: 14vh;
    margin-bottom: -12vh;
}

#fire_P {
    width: 12vw;
    position: relative;
    top: 5vh;
    right: 2vw;
}

#btn1_P {
    width: 18vw;
    height: 4.5vh;
    font-size: 1.8vw;
    font-family: 'KOTRAHOPE';
    /* font-weight: 600; */
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1vh;
    margin-left: 1vw;
    position: relative;
    /* top: 4vh; */
    bottom: 10vh;
    transition: 0.4s all; 
    overflow:hidden;
    margin-bottom: 3vh;
}


#btn1_P:hover{transform:scale(1.2);}
#btn1_P:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn1_P:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}


/* Mobile */

.M_container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}



.title_M {
    position: relative;
    font-size: 8rem;
    color: #ffed54;
    bottom: 1vh;
    left: 2.5rem;
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    animation:txtE 4s infinite;
}

@keyframes txtE {
    60% {
      transform: translate(20px, 0) scale(1);
      color:#ffed54;
    }
  
    80% {
      transform: translate(20px, 0) scale(1);
      color:#ffed54;
    }
  
    90% {
      transform: translate(0) scale(1.2);
      color:#ffed54;
    }
  
    100% {
      transform: translate(0) scale(1);
      opacity: 1;
      color:#ffed54;
    }
  }
  .title_M:nth-of-type(2) {
    animation-delay: .1s;
  }
  .title_M:nth-of-type(3) {
    animation-delay: .2s;
  }
  .title_M:nth-of-type(4) {
    animation-delay: .3s;
  }
  .title_M:nth-of-type(5) {
    animation-delay: .4s;
  }
  .title_M:nth-of-type(6) {
    animation-delay: .5s;
  }

.subtitle_M {
    font-size: 3rem;
    color: white;
    position: relative;
    left: 1rem;
    bottom: 1rem;
}

#prince_M {
    width: 12rem;
    position: absolute;
    right: 3.5rem;
    bottom: 16rem;
}


#btn1_M {
    width: 18rem;
    height: 2.8rem;
    font-size: 2rem;
    font-family: 'KOTRAHOPE';
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    top: 8rem;
    left: 2.5rem;

    transition:0.4s all; 
    overflow:hidden;
}

#btn1_M:hover{transform:scale(1.2);}
#btn1_M:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn1_M:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}





#modalbox {
    position: relative;
    margin: auto;
    top: 16vw;
    background-color: #090b3b;
    width: 20vw;
    height: 20vw;
    border: 5px solid rgb(255, 255, 255);
    padding: 1vw;
    font-family: 'KOTRAHOPE';
    color: #ffed54;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalbox_M {
    position: relative;
    margin: auto;
    top: 15rem;
    background-color: #090b3b;
    width: 18rem;
    height: 24rem;
    border: 5px solid rgb(255, 255, 255);
    padding: 1rem;
    font-family: 'KOTRAHOPE';
    color: #ffed54;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formTitle{
  font-family: 'KOTRAHOPE';
  font-size: 2.2vw;
  margin: 0 auto;
  text-align: center;
  border-bottom: double white;
  margin-bottom: 2vh;
}

#formTitle2{
  font-family: 'KOTRAHOPE';
  font-size: 2.5vw;
  margin: 0 auto;
  text-align: center;
  border-bottom: double white;
  margin-bottom: 3.5vh;
}

#formTitle_M{
  font-family: 'KOTRAHOPE';
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  border-bottom: double white;
  margin-bottom: 1.5rem;
}

#btn2_P {
  width: 9vw;
  height: 2vw;
  font-size: 1.5vw;
  font-family: 'KOTRAHOPE';
  font-weight: 600;
  border-radius: 10px;
  background-color: #ffed54;
  cursor: pointer;
  text-align: center;
  position: relative;
  /* top: 4vh; */
  transition: 0.4s all; 
  overflow:hidden;
  top: 0.7vw;
}

#btn7_P {
  width: 9vw;
  height: 2vw;
  font-size: 1.5vw;
  font-family: 'KOTRAHOPE';
  font-weight: 600;
  border-radius: 10px;
  background-color: #ffed54;
  cursor: pointer;
  text-align: center;
  position: relative;
  /* top: 4vh; */
  transition: 0.4s all; 
  overflow:hidden;
  margin-top: 1.5vw;
}

#btn7_M {
  width: 9rem;
  height: 2.5rem;
  font-size: 2rem;
  font-family: 'KOTRAHOPE';
  font-weight: 600;
  border-radius: 10px;
  background-color: #ffed54;
  cursor: pointer;
  text-align: center;
  position: relative;
  /* top: 4vh; */
  transition: 0.4s all; 
  overflow:hidden;
  margin-top: 1.5rem;
}


#formInput{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#formInput_M{
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

#formInput_M2{
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

#btn3_P {
  width: 3.6vw;
  height: 2vw;
  font-size: 1vw;
  font-family: 'KOTRAHOPE';
  font-weight: 600;
  border-radius: 10px;
  background-color: #ffed54;
  cursor: pointer;
  text-align: center;
  position: relative;
  /* top: 4vh; */
  transition: 0.4s all; 
  overflow:hidden;
  /* margin-left: 0.5vw; */
  position: relative;
  left: 1vw;
}

#btn3_M {
  width: 3.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  font-family: 'KOTRAHOPE';
  font-weight: 600;
  border-radius: 10px;
  background-color: #ffed54;
  cursor: pointer;
  text-align: center;
  position: relative;
  /* top: 4vh; */
  transition: 0.4s all; 
  overflow:hidden;
  position: relative;
  left: 1rem;
}

#form_input{
  position: relative;
  font-family: 'KOTRAHOPE';
  font-size: 1.2vw;
  text-align: center;
  height: 3vh;
  width: 7vw;
  left: 0.8vw;
}

#form_input1{
  font-family: 'KOTRAHOPE';
  font-size: 1.2vw;
  text-align: center;
  height: 3vh;
  width: 10vw;
  position: relative;
  left: 0.25vw;
}

#form_input8{
  font-family: 'KOTRAHOPE';
  font-size: 1.2vw;
  text-align: center;
  height: 3vh;
  width: 10vw;
  position: relative;
  left: 0.25vw;
}


#form_input4{
  font-family: 'KOTRAHOPE';
  font-size: 1.2vw;
  text-align: center;
  height: 3vh;
  width: 10vw;
  position: relative;
  left: 0.6vw;
}

#form_input4_M{
  font-family: 'KOTRAHOPE';
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
  width: 10rem;
  position: relative;
  left: 0.35rem;
}

#form_input2{
  font-family: 'KOTRAHOPE';
  font-size: 1.2vw;
  text-align: center;
  height: 3vh;
  width: 10vw;
  position: relative;
  left: 0.5vw;
}

#form_input_M{
  position: relative;
  font-family: 'KOTRAHOPE';
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
  width: 7rem;
  left: 0.7rem;
}

#form_input1_M{
  font-family: 'KOTRAHOPE';
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
  width: 10rem;
}

#form_input8_M{
  font-family: 'KOTRAHOPE';
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
  width: 10rem;
}

#form_input1_M2{
  font-family: 'KOTRAHOPE';
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
  width: 10rem;
}

#form_input2_M{
  font-family: 'KOTRAHOPE';
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
  width: 10rem;
  position: relative;
  left: 0.5rem;
}



#btn2_P:hover{transform:scale(1.2);}
#btn2_P:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn2_P:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}

#btn3_P:hover{transform:scale(1.2);}
#btn3_P:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn3_P:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}
#btn7_P:hover{transform:scale(1.2);}
#btn7_P:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn7_P:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}


#confirm {
  color: greenyellow;
  font-size: 1vw;
  position: relative;
  left: 2.5vw;
}

#confirm2 {
  color: red;
  font-size: 1vw;
  position: relative;
  left: 2.5vw;
}

#confirm3 {
  color: #e6710b;
  font-size: 1vw;
}

#confirm_M {
  color: greenyellow;
  font-size: 1.1rem;
}

#confirm2_M {
  color: red;
  font-size: 1.1rem;
}

#confirm3_M {
  color: #e6710b;
  font-size: 1.1rem;
}

#btn2_M {
  width: 8rem;
  height: 2.5rem;
  font-size: 1.8rem;
  font-family: 'KOTRAHOPE';
  font-weight: 600;
  border-radius: 10px;
  background-color: #ffed54;
  cursor: pointer;
  text-align: center;
  position: relative;
  /* top: 4vh; */
  transition: 0.4s all; 
  overflow:hidden;
  margin-top: 0.8rem;
}


#cute {
  position: absolute;
  width: 3vw;
  left: 3vw;
}

#cute2 {
  position: absolute;
  width: 3vw;
  right: 3vw;
}

#cute_M {
  position: absolute;
  width: 3rem;
  left: 3rem;
}

#cute2_M {
  position: absolute;
  width: 3rem;
  right: 3rem;
}




#modalbox_L {
  position: relative;
  margin: auto;
  top: 20vw;
  background-color: #090b3b;
  width: 17vw;
  height: 15vw;
  border: 5px solid rgb(255, 255, 255);
  padding: 1vw;
  font-family: 'KOTRAHOPE';
  color: #ffed54;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modalbox_LM {
  position: relative;
  margin: auto;
  top: 19rem;
  background-color: #090b3b;
  width: 17rem;
  height: 17rem;
  border: 5px solid rgb(255, 255, 255);
  padding: 1rem;
  font-family: 'KOTRAHOPE';
  color: #ffed54;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#heart {
  position: absolute;
  width: 3rem;
  right: 4.3rem;
}

#heart_P {
  position: absolute;
  width: 3vw;
  right: 4vw;
}