@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Donoun-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

#contentP {
    /* z-index: -1; */
      position: relative;
      justify-content: center;
      /* display: flex; */
      top: 18vh;
      /* width: 30vw; */
      /* width: 31.7vw; */
      width: 33vw;
      /* height: 45vh; */
      height: 3.5vh;
      /* padding-top: 3vh; */
      padding-top: 1.5vh;
      padding-left: 2vw;
      padding-right: 2vw;
      line-height: 1.6vh;
      text-decoration: none;
      /* font-family: 'Dancing Script', cursive; */
      font-family: 'KOTRAHOPE';
      font-size: 1.5vw;
      color: white;
      resize: none;
      margin-bottom: 1vh;
      border: 0.2vw solid transparent ;
      border-image: linear-gradient(
      120deg,
      /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
      #FFE69295,
      /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
      #FFB7EB95,
      /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
      #DCA3FF95,
      /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
        #FBB03B95,
      /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
      #D3FFB095,
      /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
      #6AA6FF95
    );
      border-image-slice: 1;
      /* background-image: repeating-linear-gradient(rgba(119, 191, 246, 0) 0px, rgba(119, 191, 246, 0) 25px, rgb(113, 125, 250) 26px); */
      overflow: auto;
    }

#contentP ::-webkit-scrollbar {
        width: 0.5vw;
        background-color: rgba(255, 255, 255, 0);
    }
    
#contentP ::-webkit-scrollbar-thumb {
        background-color: azure;
    }
    
 #contentP ::-webkit-scrollbar-track {
        background-color: aliceblue;
    }


#contentM {
    /* z-index: -1; */
      position: relative;
      justify-content: center;
      /* display: flex; */
      top: 7.5rem;
      /* width: 30vw; */
      /* width: 31.7vw; */
      width: 19rem;
      /* height: 45vh; */
      height: 3rem;
      /* padding-top: 3vh; */
      padding-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      text-decoration: none;
      /* line-height: 3.6vh; */
      /* font-family: 'Dancing Script', cursive; */
      font-family: 'KOTRAHOPE';
      font-size: 1.5rem;
      color: white;
      resize: none;
      margin-bottom: 1rem;
      /* border-radius: 1rem; */
      border: 0.2rem solid transparent ;
      border-image: linear-gradient(
      120deg,
      /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
      #FFE69295,
      /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
      #FFB7EB95,
      /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
      #DCA3FF95,
      /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
        #FBB03B95,
      /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
      #D3FFB095,
      /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
      #6AA6FF95
    );
      border-image-slice: 1;
      /* background-image: repeating-linear-gradient(rgba(119, 191, 246, 0) 0px, rgba(119, 191, 246, 0) 25px, rgb(113, 125, 250) 26px); */
      overflow: auto;
    }

#contentP ::-webkit-scrollbar {
        width: 0.5rem;
        background-color: rgba(255, 255, 255, 0);
    }
    
#contentP ::-webkit-scrollbar-thumb {
        background-color: azure;
    }
    
 #contentP ::-webkit-scrollbar-track {
        background-color: aliceblue;
    }



#date {
    position: relative;
    font-size: 2vw;
    top: 16vh;
    color: #ffed54;
}



#dateM {
    position: relative;
    font-size: 3rem;
    top: 6rem;
    color: #ffed54;
}

#back {
  position: relative;
  font-size: 2vw;
  top: 19vh;
  right: -17vw;
  color: #ffed54;
}
#backM {
  position: relative;
  /* font-size: 2rem; */
  top: 7rem;
  right: -22rem;
  color: #ffed54;
}