/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap');

.P_container{
    margin-top: 7rem;
    font-size: 3rem;
    text-align: center;
    font-family: 'Bitter', serif !important;
}


#redbox_P{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;
    transition: all 0.3s ease-in-out; 

    top: 15vw;
    left: 40vw;
}

#redbox_P:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}



#greenbox_P{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;
    transition: all 0.3s ease-in-out; 

    top: 42vw;
    right: 40vw;
}

#greenbox_P:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#purplebox_P{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;
    transition: all 0.3s ease-in-out; 

    top: 27vw;
    left: 40vw;
}

#purplebox_P:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}


#yellowbox_P{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;
    transition: all 0.3s ease-in-out; 

    top: 30vw;
    right: 40vw;
}

#yellowbox_P:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#bluebox_P{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;
    transition: all 0.3s ease-in-out; 

    top: 39vw;
    left: 40vw;
}

#bluebox_P:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#pinkbox_P{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;
    transition: all 0.3s ease-in-out; 

    top: 18vw;
    right: 40vw;
}

#pinkbox_P:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}






.M_container {
    margin-top: 6rem;
    font-size: 3rem;
    text-align: center;
    font-family: 'Bitter', serif !important;
}

#redbox_M{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;

    top: 15rem;
    left: 3.5rem;
}



#greenbox_M{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;

    top: 41rem;
    right: 3.5rem;
}

#purplebox_M{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;

    top: 28rem;
    left: 3.5rem;
}

#yellowbox_M{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;

    top: 28rem;
    right: 3.5rem;
}

#bluebox_M{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;

    top: 41rem;
    left: 3.5rem;
}


#pinkbox_M{
    position: absolute;
    width: 9rem;
    height: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
    padding: 8px;
    color: white;

    top: 15rem;
    right: 3.5rem;
}

#borderR {
    width: 100%;
    height: 100%;
    background: red;
    font-family: 'Bitter', serif !important;
    font-size: 2.4rem;
    color: greenyellow;
  }
#borderG {
    width: 100%;
    height: 100%;
    background: green;
    font-family: 'Bitter', serif !important;
    font-size: 2.1rem;
    color: white;
  }
#borderP {
    width: 100%;
    height: 100%;
    background: purple;
    font-family: 'Bitter', serif !important;
    color: yellow;
  }
#borderY {
    width: 100%;
    height: 100%;
    background: yellow;
    font-family: 'Bitter', serif !important;
    color: blue;
    font-size: 3rem;
  }
#borderB {
    width: 100%;
    height: 100%;
    background: blue;
    font-family: 'Bitter', serif !important;
    font-size: 3rem;
    color: orange;
  }

#borderPink {
    width: 100%;
    height: 100%;
    background: pink;
    font-family: 'Bitter', serif !important;
    color: red;
    font-size: 3rem;
  }


#icon {
    width: 5rem;
}

#icon2 {
    position: relative;
    width: 5rem;
    top: 0.8rem;
}
