/* 섹션 1 */

.section1 {
  padding-bottom: 80px;
  border-bottom: 1px solid #fcf18c;
}

.wrapper_intro {
  max-width: 80em;
  margin: 0 auto;
}

/* 내비게이션 바 */

.navbar {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 40px;
  margin: 8px;
  /* 아이콘과 제목 수직 가운데 정렬 */
  display: flex;
  align-items: center;
}

.icon img {
  width: 52px;
  height: 52px;
}

.menu {
  display: flex;
  font-size: 25px;
}

.menu li {
  list-style: none;
  margin: 12px 42px;
}

.header p {
  font-size: 54px;
  margin-bottom: 20px;
}

.header span {
  font-size: 30px;
}

.downsubs img {
  margin-top: 50px;
  width: 240px;
  height: auto;
}

#movingAd {
  position: absolute;
  top: 210px;
  right: 380px;
}

.subscribe input {
  width: 360px;
  height: 45px;
  margin: 30px 0 10px 0;
  font-size: 20px;
  padding-left: 10px;
}

::placeholder {
  font-size: 18px;
}

.subscribe button {
  width: 150px;
  height: 45px;
  margin-left: 20px;
  padding: 2px 7px 2px 7px;
  box-sizing: content-box;
  background-color: #ffed54;
  color: #090b3b;
  font-size: 20px;
}

/* 섹션 2 */

.section2 {
  padding-top: 60px;
}

.wrapper_body {
  max-width: 110em;
  margin: 0 auto;
}
