@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "paybooc-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "paybooc-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* PC 버전 */

.section1,
.section2,
.section3,
.section4 {
  font-family: "paybooc-Medium";
  letter-spacing: 1px;
}

/* alert */
.toast {
  width: 400px;
}

/* 섹션 1 */

.section1 {
  padding-bottom: 100px;
  border-bottom: 1px solid #fcf18c;
  background-color: #131554;
}

.wrapper_intro {
  max-width: 88em;
  margin: 0 auto;
}

/* 내비게이션 바 */

.navbar {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 44px;
  margin: 8px;
  /* 아이콘과 제목 수직 가운데 정렬 */
  display: flex;
  align-items: center;
  color: #ffed54;
  cursor: pointer;
}

.icon img {
  width: 52px;
  height: 52px;
  margin-right: 10px;
}

.menu {
  display: flex;
  font-size: 25px;
  margin-left: 80px;
}

.menu li {
  list-style: none;
  margin: 12px 36px;
  cursor: pointer;
}

.header p {
  font-size: 56px;
  margin-bottom: 20px;
  font-family: "paybooc-Bold";
}

.header span {
  font-size: 30px;
}

.downsubs img {
  margin-top: 50px;
  width: auto;
  height: 83px;
  margin-right: 30px;
}

#web_available {
  cursor: pointer;
}

#android_available {
  cursor: pointer;
  width: 240px;
  height: auto;
  margin-right: 30px;
}

#ios_NA {
  filter: opacity(0.4);
  width: 240px;
  height: auto;
}

.subscribe input {
  width: 400px;
  height: 55px;
  margin: 50px 0 10px 0;
  font-size: 20px;
  padding-left: 10px;
  border: 2px solid #ffed54;
  border-left: 5px solid #ffed54;
  background-color: transparent;
  color: #ffed54;
  font-family: "paybooc-Medium";
}

.subscribe input::placeholder {
  font-size: 18px;
  color: #ffed54;
}

.subscribe button {
  width: 180px;
  height: 55px;
  margin-left: 20px;
  padding: 2px 7px 2px 7px;
  box-sizing: content-box;
  background-color: #ffed54;
  color: #161da3;
  font-size: 20px;
  cursor: pointer;
  font-family: "paybooc-Bold";
  border: none;
}

/* 섹션 2 - UCC */
.section2 {
  padding: 80px 0;
  border-bottom: 1px solid #fcf18c;
  background-color: #161a64;
  font-family: "paybooc-Bold";
}

.wrapper_video {
  max-width: 88em;
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
}

.wrapper_video video {
  width: 1120px;
  height: auto;
}

/* 섹션 3 - 서비스 기능 */

.section3 {
  padding: 80px 0;
  background-color: #131554;
  border-bottom: 1px solid #fcf18c;
}

.wrapper_body {
  max-width: 88em;
  margin: 0 auto;
}

.feature1,
.feature2,
.feature3,
.feature4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.feature_text {
  margin-left: 100px;
}

.feature_text p {
  font-size: 40px;
  font-family: "paybooc-Bold";
}

.feature_text span {
  font-size: 25px;
}

/* 섹션 4 - 푸터 */
.section4 {
  padding: 80px 0;
  background-color: #161a64;
}

.wrapper_footer {
  max-width: 88em;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  color: #b0b0d8;
}

/* 모바일 버전 */

.section1M,
.section2M,
.section3M,
.section4M {
  font-family: "paybooc-Medium";
  letter-spacing: 1px;
}

/* alert */
.toastM {
  width: 480px;
}

/* 섹션 1 */

.section1M {
  border-bottom: 1px solid #fcf18c;
  background-color: #131554;
}

.wrapper_introM {
}

/* 내비게이션 바 */

.navbarM {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.iconM {
  font-size: 24px;
  font-weight: bold;
  /* 아이콘과 제목 수직 가운데 정렬 */
  display: flex;
  align-items: center;
  color: #ffed54;
  cursor: pointer;
}

.iconM img {
  width: 52px;
  height: 52px;
  margin-right: 10px;
}

.menuM {
  display: flex;
  font-size: 20px;
  padding-left: 20px;
}

.menuM li {
  list-style: none;
  margin: 12px 8px;
  cursor: pointer;
}

.headerM {
}

.headerM p {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "paybooc-Bold";
}

.headerM span {
  font-size: 22px;
}

.downsubsM img {
  margin-top: 50px;
  height: 83px;
  width: auto;
}

.mobileWeb {
  display: flex;
  justify-content: center;
  align-items: center;
}

#web_availableM {
  cursor: pointer;
}

#android_availableM {
  cursor: pointer;
  width: 240px;
  height: auto;
  margin-right: 30px;
}

#ios_NAM {
  filter: opacity(0.4);
  width: 240px;
  height: auto;
}

.subscribeM {
  display: flex;
  flex-direction: column;
}

.subscribeM input {
  width: 380px;
  height: 55px;
  margin: 50px 0 10px 0;
  font-size: 20px;
  padding-left: 10px;
  border: 2px solid #ffed54;
  border-left: 5px solid #ffed54;
  background-color: transparent;
  color: #ffed54;
  font-family: "paybooc-Medium";
}

.subscribeM input::placeholder {
  font-size: 18px;
  color: #ffed54;
}

.subscribeM p {
}

.subscribeM button {
  width: 387px;
  height: 55px;
  margin-bottom: 20px;
  box-sizing: content-box;
  background-color: #ffed54;
  color: #161da3;
  font-size: 20px;
  cursor: pointer;
  font-family: "paybooc-Bold";
  border: none;
}

#movingAd {
  width: 312px;
}
/* 섹션 2 - UCC */
.section2M {
  padding: 80px 0;
  border-bottom: 1px solid #fcf18c;
  background-color: #161a64;
  font-family: "paybooc-Bold";
}

.wrapper_videoM {
  text-align: center;
  font-size: 40px;
}

.wrapper_videoM video {
  width: 460px;
  height: auto;
}

/* 섹션 3 - 서비스 기능 */

.section3M {
  padding: 80px 0;
  background-color: #131554;
  border-bottom: 1px solid #fcf18c;
}

.wrapper_bodyM {
}

.feature1M,
.feature2M,
.feature3M,
.feature4M {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.feature1M img,
.feature2M img,
.feature3M img,
.feature4M img {
  width: 300px;
  height: auto;
}

.feature_textM {
  text-align: center;
}

.feature_textM p {
  font-size: 38px;
  font-family: "paybooc-Bold";
}

.feature_textM span {
  font-size: 22px;
}

/* 섹션 4 - 푸터 */
.section4M {
  padding: 80px 0;
  background-color: #161a64;
}

.wrapper_footerM {
  text-align: center;
  font-size: 22px;
  color: #b0b0d8;
}
