@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* alert */
.toast {
  width: 400px;
}

/* 섹션 1 */

.section1 {
  padding-bottom: 100px;
  border-bottom: 1px solid #fcf18c;
  background-color: #0e1397;
  font-family: "GowunDodum-Regular";
}

.wrapper_intro {
  max-width: 80em;
  margin: 0 auto;
}

/* 내비게이션 바 */

.navbar {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 40px;
  margin: 8px;
  /* 아이콘과 제목 수직 가운데 정렬 */
  display: flex;
  align-items: center;
}

.icon img {
  width: 52px;
  height: 52px;
}

.menu {
  display: flex;
  font-size: 25px;
}

.menu li {
  list-style: none;
  margin: 12px 42px;
}

.header p {
  font-size: 54px;
  margin-bottom: 20px;
}

.header span {
  font-size: 30px;
}

.downsubs img {
  margin-top: 50px;
  width: 240px;
  height: auto;
}

.subscribe input {
  width: 360px;
  height: 45px;
  margin: 30px 0 10px 0;
  font-size: 20px;
  padding-left: 10px;
}

::placeholder {
  font-size: 18px;
}

.subscribe button {
  width: 150px;
  height: 45px;
  margin-left: 20px;
  padding: 2px 7px 2px 7px;
  box-sizing: content-box;
  background-color: #ffed54;
  color: #090b3b;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* 섹션 2 - UCC */
.section2 {
  padding: 80px 0;
  border-bottom: 1px solid #fcf18c;
  background-color: #1318ad;
  font-family: "GowunDodum-Regular";
}

.wrapper_video {
  max-width: 110em;
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
}

.wrapper_video video {
  width: 1120px;
  height: auto;
}

/* 섹션 3 - 서비스 기능 */

.section3 {
  padding-top: 60px;
  background-color: #0e1397;
  font-family: "GowunDodum-Regular";
}

.wrapper_body {
  max-width: 110em;
  margin: 0 auto;
}

.feature1,
.feature2,
.feature3,
.feature4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.feature_text {
  margin-left: 100px;
}

.feature_text p {
  font-size: 40px;
}

.feature_text span {
  font-size: 25px;
}
