.moon{
    position: absolute;
    width: 10%;
    height: 5%;
    left: 8vw;
    top: 8vh;
}

/* 클래식별 노랑 */
.star1{
    position: absolute;
    width: 8%;
    height: 5%;
    right: 8vw;
    top: 20vh;
}

/* 트윙클별 */
.star2{
    position: absolute;
    width: 26px;
    height: 29px;
    left: 39vw;
    top: 7vh;
}

/* 흰색 별사탕 */
.star3{
    position: absolute;
    width: 6vw;
    height: 3vh;
    right: 7vw;
    top: 13vh;
}

/* 작은 별사탕 하얀거 */
.star4{
    position: absolute;
    width: 3vw;
    height: 1.5vh;
    left: 7vw;
    top: 25vh;
}

/* 노랑 별사탕 작은거 */
.star5{
    position: absolute;
    width: 3vw;
    height: 1.5vh;
    left: 37vw;
    top: 20vh;
}

/* 흰별 클래식 */
.star6{
    position: absolute;
    width: 6vw;
    height: 3vh;
    right: 30vw;
    top: 21vh;
}

/* PC 버전 */
.earthP{
    position: relative;
    top: 75vh;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image{
	100% {
    	transform: rotate(-360deg);
    }
}

/* 모바일 버전 */
.earth{
    position: relative;
    top: 40rem;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image{
	100% {
    	transform: rotate(-360deg);
    }
}