@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap');

/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');



.P_container{
    margin-top: 12rem;
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.P_container2{
    margin-top: 12rem;
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', serif !important;
}

#title_P{
    position: relative;
    margin-bottom: 8vw;
    left: 0.5vw;
}


#btn1_P {
    width: 18vw;
    height: 4.5vh;
    font-size: 2vw;
    font-family: 'SDMiSaeng';
    font-weight: 600;
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
    position: relative;
    /* top: 4vh; */
    bottom: 10vh;
    transition: 0.4s all; 
    overflow:hidden;
}


#btn1_P:hover{transform:scale(1.2);}
#btn1_P:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn1_P:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}


#btn2_P {
    width: 18vw;
    height: 4.5vh;
    font-size: 1.4vw;
    font-family: 'Bitter', serif !important;
    font-weight: 300;
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
    position: relative;
    /* top: 4vh; */
    bottom: 10vh;
    transition: 0.4s all; 
    overflow:hidden;
}


#btn2_P:hover{transform:scale(1.2);}
#btn2_P:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn2_P:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}



.M_container{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        font-size: 3rem;
        justify-content: center;
        align-items: center;
}    

.M_container2{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    font-size: 2.8rem;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', serif !important;
}    

#title_M{
    position: relative;
    margin-bottom: 6vw;
}

#title_M2{
    position: relative;
    margin-bottom: 6vw;
    font-size: 3rem;
}



#btn1_M {
    width: 18rem;
    height: 2.8rem;
    font-size: 2rem;
    font-family: 'SDMiSaeng';
    font-weight: 600;
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    top: 3rem;

    transition:0.4s all; 
    overflow:hidden;
}

#btn2_M {
    width: 18rem;
    height: 2.8rem;
    font-size: 1.5rem;
    font-family: 'Bitter', serif !important;
    font-weight: 600;
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    top: 3rem;

    transition:0.4s all; 
    overflow:hidden;
}

#btn1_M:hover{transform:scale(1.2);}
#btn1_M:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn1_M:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}




/* info */

#title_P2{
        position: relative;
        left: 0.5vw;
 }


#info_box{
       position: relative;
       font-family: 'Bitter', serif !important;
       font-size: 2vw;
       color: aqua;
}

#info_box_M{
       position: relative;
       font-family: 'Bitter', serif !important;
       font-size: 2rem;
       color: aqua;
       text-align: center;
       top: 1rem;
       margin-bottom: 4rem;
       margin-top: 2rem;
       
}


#btn1_P2 {
    width: 18vw;
    height: 4.5vh;
    font-size: 2vw;
    font-family: 'SDMiSaeng';
    font-weight: 600;
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
    position: relative;
    /* top: 4vh; */
    transition: 0.4s all; 
    overflow:hidden;
}


#btn1_P2:hover{transform:scale(1.2);}
#btn1_P2:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn1_P2:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}



#btn2_P2 {
    width: 6vw;
    height: 2vw;
    font-size: 1.5vw;
    font-family: 'SDMiSaeng';
    font-weight: 600;
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
    position: relative;
    /* top: 4vh; */
    transition: 0.4s all; 
    overflow:hidden;
    position: relative;
    bottom: 0.5vh;
}


#btn2_P2:hover{transform:scale(1.2);}
#btn2_P2:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn2_P2:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}

#btn2_M2 {
    width: 6rem;
    height: 2rem;
    font-size: 1.5rem;
    font-family: 'SDMiSaeng';
    font-weight: 600;
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-left: 1rem;
    position: relative;
    /* top: 4vh; */
    transition: 0.4s all; 
    overflow:hidden;
    position: relative;
    top: 1rem;
}

#btn2_M3 {
    width: 6rem;
    height: 2rem;
    font-size: 1.5rem;
    font-family: 'SDMiSaeng';
    font-weight: 600;
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    margin-left: 1rem;
    position: relative;
    /* top: 4vh; */
    transition: 0.4s all; 
    overflow:hidden;
    position: relative;
    top: 3rem;
}



#info_input{
        font-family: 'SDMiSaeng';
        width: 16vw;
        height: 2vw;
        font-size: 1.5vw;
        text-align: center;
        position: relative;
        bottom: 0.5vh;
        margin-left: 1vw;
    }

#info_input_M{
        font-family: 'SDMiSaeng';
        width: 12rem;
        height: 2rem;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        top: 1rem;
    }

#info_input_M3{
        font-family: 'SDMiSaeng';
        width: 12rem;
        height: 2rem;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        top: 1rem;
    }

#info_input_M2{
        font-family: 'SDMiSaeng';
        width: 12rem;
        height: 2rem;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        top: 2rem;
        right: 3.5rem;
    }    


#info_input1{
        font-family: 'SDMiSaeng';
        width: 16vw;
        height: 2vw;
        font-size: 1.5vw;
        text-align: center;
        position: relative;
        bottom: 3vh;
        margin-left: 1vw;

    }

#info_input2{
        font-family: 'SDMiSaeng';
        width: 16vw;
        height: 2vw;
        font-size: 1.5vw;
        text-align: center;
        position: relative;
        bottom: 2.5vh;
        margin-left: 1vw;
        left: 1.4vw;
    }    

#confirm{
    font-family: 'SDMiSaeng';
    font-size: 1.5vw;
    color: greenyellow;
    position:relative;
    left: 2vw;
}

#confirm2{
    font-family: 'SDMiSaeng';
    font-size: 1.5vw;
    color: red;
    position:relative;
    left: 2vw;
}

#confirm_M{
    font-family: 'SDMiSaeng';
    font-size: 1.5rem;
    color: greenyellow;
    position:relative;
    top: 3rem;
    right: 3rem;
}

#confirm2_M{
    font-family: 'SDMiSaeng';
    font-size: 1.5rem;
    color: red;
    position:relative;
    top: 3rem;
    right: 3rem;
}









