@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Donoun-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}








/* PC 버전 */
.cylinderP{
  position:absolute;
  /* left:31.34vw; */
  /* left:29.9vw; */
  top: 18vh;
  /* width: 2.95vw; */
  /* height:2vh; */
  width: 1.9vw;
  height:1.3vh;
  /* border-radius: 50% / 25%; */
  /* border-radius: 44% / 55%; */
  border-radius: 105vw / 38vw;
  /* background-color: rgb(0, 0, 255); */
  background-image: linear-gradient(
  120deg,
  /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
   #ffe69295,
  /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
   #FFB7EB95,
  /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
   #DCA3FF95,
   /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
    #FBB03B95,
  /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
   #D3FFB095,
  /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
   #6AA6FF95
);
  border-image: linear-gradient(
  120deg,
  /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
   #ffe69295,
  /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
   #FFB7EB95,
  /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
   #DCA3FF95,
   /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
    #FBB03B95,
  /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
   #D3FFB095,
  /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
   #6AA6FF95
);
  border: 1px solid transparent;
}
.cylinderP:after{
  z-index: 10;
  position: absolute;
  /* width:3vw; */
  /* height:50vh; */
  width:2vw;
  height:58vh;
  left:0;
  top:-0.3vh;
  
  /* background-color:  rgba(0, 0, 255, 0.8); */
  background-image: linear-gradient(
  120deg,
  /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
   #ffe69295,
  /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
   #FFB7EB95,
  /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
   #DCA3FF95,
   /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
    #FBB03B95,
    /* #FB5E3B95, */
  /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
   #D3FFB095,
  /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
   #6AA6FF95
);
  /* border-radius: 100px / 37.5px; */
  border-radius: 100vw / 37.5vw;
  content: '';
}


#paperP {
    z-index: -1;
    position: absolute;
    width: 30vw;
    height: 45vh;
    top: 5vh;
    /* padding-top: 20vh; */
    background-color: rgba(255, 255, 255, 0);
  }
  
  /* styling red vertical line */
  #paperP::before {
    content: '';
    width: 0.1vw;
    /* height: 100%; */
    /* height: 40vh; */
    /* padding-top: 50vh; */
    /* margin-top: 54vh; */
    position: absolute;
    /* top: 0; */
    left: 40px;
    background-color: rgba(255,0,0,0.6);
  }
  
  /* styling text content */
#contentP ::-webkit-scrollbar {
    width: 0.5vw;
    background-color: rgba(255, 255, 255, 0);
}

#contentP ::-webkit-scrollbar-thumb {
    background-color: azure;
}

#contentP ::-webkit-scrollbar-track {
    background-color: aliceblue;
}

  #contentP {
    /* z-index: -1; */
      position: absolute;
      justify-content: center;
      /* display: flex; */
      top: 20.5vh;
      /* width: 30vw; */
      /* width: 31.7vw; */
      width: 33.6vw;
      /* height: 45vh; */
      height: 51vh;
      /* padding-top: 3vh; */
      padding-top: 1.5vh;
      padding-left: 2vw;
      padding-right: 2vw;
      /* line-height: 3.6vh; */
      /* font-family: 'Dancing Script', cursive; */
      font-family: 'SDMiSaeng';
      font-size: 2vw;
      color: white;
      resize: none;

      border: 0.2vw solid transparent ;
      border-image: linear-gradient(
      120deg,
      /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
      #FFE69295,
      /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
      #FFB7EB95,
      /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
      #DCA3FF95,
      /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
        #FBB03B95,
      /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
      #D3FFB095,
      /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
      #6AA6FF95
    );
      border-image-slice: 1;
      /* background-image: repeating-linear-gradient(rgba(119, 191, 246, 0) 0px, rgba(119, 191, 246, 0) 25px, rgb(113, 125, 250) 26px); */
      overflow: auto;
    }
  
  .buttonP {
      position: absolute;
      display: inline-flex;
      justify-content: left;
      top: 83vh;
  }
  
  .saveP {
      padding-right: 3vw;
      padding-top: 1vh;
  }
  
  .backP {
      padding-left: 7vw;
      padding-top: 1vh;
  }


/* /////////////////////////////////////////////////////////////// */
/* 모바일 버전 */
/* styling paper */
.cylinder{
  position:absolute;
  left:23.4rem;
  /* top: 8.5rem; */
  width: 1.85rem;
  height:0.6rem;
  transform: rotate( 90deg );
  /* border-radius: 50% / 25%; */
  /* border-radius: 44% / 55%; */
  border-radius: 105rem / 38rem;
  /* background-color: rgb(0, 0, 255); */
  background-image: linear-gradient(
  120deg,
  /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
   #ffe69295,
  /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
   #FFB7EB95,
  /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
   #DCA3FF95,
   /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
    #FBB03B95,
  /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
   #D3FFB095,
  /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
   #6AA6FF95
);
  border-image: linear-gradient(
  120deg,
  /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
   #ffe69295,
  /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
   #FFB7EB95,
  /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
   #DCA3FF95,
   /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
    #FBB03B95,
  /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
   #D3FFB095,
  /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
   #6AA6FF95
);
  border: 0.11rem solid transparent;
}
.cylinder:after{
  z-index: 1;
  position: absolute;
  width:2rem;
  height:24rem;
  left:0;
  top:-0.2rem;
  
  /* background-color:  rgba(0, 0, 255, 0.8); */
  background-image: linear-gradient(
  120deg,
  /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
   #ffe69295,
  /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
   #FFB7EB95,
  /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
   #DCA3FF95,
   /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
    #FBB03B95,
  /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
   #D3FFB095,
  /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
   #6AA6FF95
);
  /* border-radius: 100px / 37.5px; */
  border-radius: 100rem / 37.5rem;
  content: '';
}

#paper {
  width: 20rem;
  height: 27rem;
  /* width: 140vw; */
  /* height: 95vh; */
  /* position: relative; */
  position: absolute;
  /* margin: 20px auto; */
  /* margin: 0.5vh auto; */
  padding-top: 27rem;
  /* padding-bottom: 4vh; */
  background-color: rgba(255, 255, 255, 0);
  /* box-shadow: 0px 0px 5px 0px #888; */
}

/* styling red vertical line */
#paper::before {
  content: '';
  width: 0.1rem;
  /* height: 100%; */
  /* height: 40vh; */
  padding-top: 50rem;
  /* margin-top: 54vh; */
  position: absolute;
  /* top: 0; */
  left: 40.1rem;
  background-color: rgba(255,0,0,0.6);
}

/* styling text content */
#content {
    position: absolute;
    display: flex;
    width: 20rem;
    height: 33rem;
    top: 9.94rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 3.5rem;
    /* line-height: 2.5rem; */
    font-family: 'SDMiSaeng';
    font-size:2.3rem;
    color: white;
    resize: none;
    border: 0.3rem solid transparent ;
    /* border-image: linear-gradient( */
    border-image: linear-gradient(
    120deg,
    /* 노랑: 연한건 FFE692 진한건 FFDE6D*/
     #FFE69295,
    /* 분홍: 연한건 FFB7EB 진한건 FEA0E4*/
     #FFB7EB95,
    /* 보라: 연한건 DCA3FF 진한건 CA77FE*/
     #DCA3FF95,
     /* 빨강: 연한건 FBB03B 진한건 FB5E3B*/
      #FBB03B95,
    /* 연두: 연한건 D3FFB0 진한건 A8FF63*/
     #D3FFB095,
    /* 파랑: 연한건 6AA6FF 진한건 3B5AFB*/
     #6AA6FF95
  );
    border-image-slice: 1;
    overflow: auto;
    /* border-radius: 1rem; */
    /* background-image: repeating-linear-gradient(rgba(119, 191, 246, 0) 0px, rgba(119, 191, 246, 0) 24px, rgb(113, 125, 250) 25px); */
}

#content::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
}

#content::-webkit-scrollbar-thumb {
  background-color: azure;
}

#content::-webkit-scrollbar-track {
  background-color: aliceblue;
}

.button {
    position: absolute;
    display: inline-flex;
    justify-content: left;
    top: 45rem;
}

.save {
    justify-content: left;
    padding-right: 3rem;
    padding-top: 1rem;
}

.back {
    justify-content: left;
    padding-left: 3rem;
    padding-top: 1rem;
}



