/* PC 버전 */
.navP {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 50;
  margin-top: 50px;
  margin-bottom: -99px;
}

.title {
  font-size: 60px;
  font-family: 'KOTRAHOPE';
  display: flex;
}

.title .title_name {
  text-decoration: none;
  color: #ffed54;
}

.title img {
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

.menuP {
  display: flex;
  margin-left: -130px;
}

.menu_itemP {
  color: #ffed54;
}

.menu_itemP img {
  width: 32px;
  height: 32px;
}

.homeP,
.peopleP,
.calenderP,
.hospitalP,
.trashP,
.gearP {
  color: #ffed54;
  font-size: 40px;
  font-family: 'KOTRAHOPE';
  /* padding: 3% 14% 3% 2%; */
  margin: 8px 30px;
  /* height: 3vh; */
  text-decoration: none;
  display: flex;
  align-items: center;
  z-index: 200;
}

@media screen and (max-width: 1630px) and (min-width: 1471px) {
  .title_name {
    position: absolute;
    margin-top: 55px;
  }
}

@media screen and (max-width: 1470px) and (min-width: 801px) {
  .title {
    position: absolute;
    margin-top: 145px;
    left: 20px;
  }
}

@media screen and (max-width: 1375px) {
  .title {
    display: none;
  }
  .menuP {
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .homeP,
  .peopleP,
  .calenderP,
  .hospitalP,
  .trashP,
  .gearP {
    font-size: 32px;
    margin: 8px 12px;
  }
}

.toggleBtn {
  position: absolute;
  top: 48px;
  right: 32px;
  font-size: 32px;
  color: #ffed54;
  z-index: 50;
  cursor: pointer;
  /* 평소에는 햄버거 버튼 안 보이게 */
  display: none;
}

@media screen and (max-width: 800px) {
  .homeP,
  .peopleP,
  .calenderP,
  .hospitalP,
  .trashP,
  .gearP {
    font-size: 48px;
    margin: 6px 12px;
  }
  .navP {
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    /* display:none 적용 해제 */
    display: block;
    margin: 12px;
  }
  .menuP img {
    display: none;
  }
  .menuP {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* 햄버거 버튼 눌렀을 때 display 속성을 flex로 바꿔야 함 */
    display: none;
  }
  .toggleBtn {
    display: block;
  }
}

/* ///////////////////////////////////////////////////////////////////// */
/* 모바일 버전 */
.nav {
  display: inline-flex;
  padding: 0.4rem;
  /* 마진 없애기 */
  margin: 0.2rem;
  width: 100;
  z-index: 50;
}

/* left, right를 꽉채우는 flex로 하고, 그 안에서 얘들을 나란히? */

.left {
  position: absolute;
  top: 1.5rem;
  left: 0.8rem;
}

.left2 {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0.5rem;
}

.right {
  top: 1.5rem;
  position: absolute;
  right: 5rem;
}

.right2 {
  display: inline-flex;
  justify-content: flex-end;
  justify-content: end;
  margin: 0.6rem;
}

.home {
  width: 1.5rem;
  height: 2rem;
  padding: 5%;
}

.people {
  width: 1.5rem;
  height: 3rem;
  padding: 5%;
  padding-left: 5%;
  position: relative;
  left: 2.3rem;
}

.calender {
  width: 1.5rem;
  height: 2rem;
  padding: 10%;
  padding-left: 5%;
  position: relative;
  left: 4.5rem;
}

.hospital {
  width: 1.6rem;
  height: 2rem;
  padding: 5%;
  position: relative;
  right: 5.7rem;
}

.trash {
  width: 1.6rem;
  height: 2rem;
  padding: 5%;
  position: relative;
  right: 3.7rem;
}

.gear {
  width: 1.6rem;
  height: 2rem;
  padding: 5%;
  padding-left: 6%;
  padding-right: 40%;
  position: relative;
  right: 1.8rem;
  top: 0.1rem;
}





@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}