/* PC 버전 */
.moon{
    position: absolute;
    width: 3vw;
    left: 28vw;
    top: 18vh;
}

/* 클래식별 노랑 */
.star1{
    position: absolute;
    width: 2vw;
    right: 18vw;
    top: 20vh;
}

/* 트윙클별 */
.star2{
    position: absolute;
    width: 1.5vw;
    left: 39vw;
    top: 12vh;
}

/* 흰색 별사탕 */
.star3{
    position: absolute;
    width: 2vw;
    right: 15vw;
    top: 13vh;
}

/* 작은 별사탕 하얀거 */
.star4{
    position: absolute;
    width: 0.9vw;
    /* height: 1.5vh; */
    left: 15vw;
    top: 25vh;
}

/* 노랑 별사탕 작은거 */
.star5{
    position: absolute;
    width: 1.5vw;
    /* height: 1.5vh; */
    left: 47vw;
    top: 22vh;
}

/* 흰별 클래식 */
.star6{
    position: absolute;
    width: 2vw;
    /* height: 3vh; */
    right: 35vw;
    top: 15vh;
}

.fire{
    position: fixed;
    z-index: 10;
    top: 40vh;
    left: 30vw;
    /* position: relative; */
    /* top: 38vh; */
    /* right: 5vw; */

}

.ground{
    position: fixed;
    width: 130vw;
    /* height: 120vh; */
    /* top: 32vh; */
    top: 38vh;
}

.ad{
    z-index: 20;
    /* position: relative; */
    position: fixed;
    width: 15vw;
    top: 49vh;
    /* right: -5vw; */
    left: 42vw;
}

.camping{
    z-index: 18;
    /* position: relative; */
    position: fixed;
    width: 25vw;
    top: 40vh;
    /* right: -5vw; */
    right: 20vw;
}

.Cactus{
    z-index: 20;
    /* position: relative; */
    position: fixed;
    width: 10vw;
    top: 52vh;
    left: 20vw;
    /* top: -23vh;
    left: -25vw; */
    /* z-index: 20;
    position: relative;
    width: 10vw;
    top: -20vh;
    right: -28vw;
    transform: scaleX(-1); */
}
.Cactus2{
    z-index: 20;
    /* position: relative; */
    position: fixed;
    width: 10vw;
    /* top: -40vh;
    right: -35vw; */
    top: 55vh;
    right: 8vw;
    transform: scaleX(-1);
}
.pyramid{
    z-index: 20;
    /* position: relative; */
    /* width: 13vw;
    top: -53vh;
    left: -42vw; */
    position: fixed;
    width: 10vw;
    top: 68vh;
    left: 2vw;
    transform: rotate(-10deg)
}

/* 모바일 버전 ///////////////////////////////////////////////// */
/* PC 버전 */
.moonM{
    position: absolute;
    width: 3rem;
    left: 4rem;
    top: 6rem;
}

/* 클래식별 노랑 */
.star1M{
    position: absolute;
    width: 1.5rem;
    right: 6rem;
    top: 14rem;
}

/* 트윙클별 */
.star2M{
    position: absolute;
    width: 1.5rem;
    left: 9rem;
    top: 5rem;
}

/* 흰색 별사탕 */
.star3M{
    position: absolute;
    width: 1.5rem;
    right: 3rem;
    top: 6rem;
}

/* 작은 별사탕 하얀거 */
.star4M{
    position: absolute;
    width: 0.9rem;
    /* height: 1.5vh; */
    left: 4rem;
    top: 15rem;
}

/* 노랑 별사탕 작은거 */
.star5M{
    position: absolute;
    width: 1.2rem;
    /* height: 1.5vh; */
    left: 10rem;
    top: 11rem;
}

/* 흰별 클래식 */
.star6M{
    position: absolute;
    width: 1.2rem;
    /* height: 3vh; */
    right: 10rem;
    top: 7rem;
}

.fireM{
    position: fixed;
    z-index: 10;
    top: 25rem;
}

.groundM{
    position: fixed;
    width: 60rem;
    height: 40rem;
    bottom: -13rem;
}

.adM{
    z-index: 20;
    /* position: relative; */
    position: fixed;
    width: 13rem;
    top: 37rem;
    right: 0.2rem;
}

.campingM{
    z-index: 18;
    /* position: relative; */
    position: fixed;
    width: 8rem;
    top: 34.5rem;
    /* right: -5vw; */
    right: 0rem;
    transform: rotate(10deg)
}

.CactusM{
    z-index: 20;
    position: fixed;
    width: 5rem;
    top: 45.2rem;
    left: 1rem;
}
.Cactus2M{
    z-index: 20;
    position: fixed;
    width: 4rem;
    top: 46rem;
    left: 2.9rem;
    /* transform: scaleX(-1); */
}
.pyramidM{
    z-index: 20;
    position: fixed;
    width: 6rem;
    top: 36.3rem;
    left: 1.3rem;
    transform: rotate(-10deg)
}