.moon{
    position: absolute;
    width: 3vw;
    left: 28vw;
    top: 18vh;
}

/* 클래식별 노랑 */
.star1{
    position: absolute;
    width: 2vw;
    right: 9vw;
    top: 75vh;
}

/* 트윙클별 */
.star2{
    position: absolute;
    width: 1.5vw;
    left: 23vw;
    top: 27vh;
}

/* 흰색 별사탕 */
.star3{
    position: absolute;
    width: 1vw;
    right: 15vw;
    top: 13vh;
}

/* 작은 별사탕 하얀거 */
.star4{
    position: absolute;
    width: 0.9vw;
    /* height: 1.5vh; */
    left: 5vw;
    top: 39vh;
}

/* 노랑 별사탕 작은거 */
.star5{
    position: absolute;
    width: 1.5vw;
    /* height: 1.5vh; */
    right: 35vw;
    top: 38vh;
}

/* 흰별 클래식 */
.star6{
    position: absolute;
    width: 1.5vw;
    /* height: 3vh; */
    right: 48vw;
    top: 75vh;
}


.moonMove{
    position: fixed;
    width: 13vw;
    right: 22vw;
    top: 70vh;
}

.ardsuper{
    position: fixed;
    width: 20vw;
    top: 30vh;
    left: 35vw;
}

.earthShadow{
    position: fixed;
    width: 25vw;
    top: 60vh;
    left: 10vw;
}

.spaceStation{
    position: fixed;
    width: 20vw;
    top: 20vh;
    right: 5vw;
}

/* 모바일 버전 /////////////////////////////////////////////////////// */
.moonM{
    position: absolute;
    width: 3rem;
    left: 4rem;
    top: 6rem;
}

/* 클래식별 노랑 */
.star1M{
    position: absolute;
    width: 1.5rem;
    right: 3.5rem;
    top: 48rem;
}

/* 트윙클별 */
.star2M{
    position: absolute;
    width: 1.5rem;
    left: 1rem;
    top: 17rem;
}

/* 흰색 별사탕 */
.star3M{
    position: absolute;
    width: 1rem;
    right: 2.5rem;
    top: 9rem;
}

/* 작은 별사탕 하얀거 */
.star4M{
    position: absolute;
    width: 0.9rem;
    /* height: 1.5vh; */
    left: 5rem;
    top: 30rem;
}

/* 노랑 별사탕 작은거 */
.star5M{
    position: absolute;
    width: 1.5rem;
    right: 3rem;
    top: 20rem;
}

/* 흰별 클래식 */
.star6M{
    position: absolute;
    width: 1.5rem;
    left: 2rem;
    top: 50rem;
}


.moonMoveM{
    position: fixed;
    width: 5rem;
    right: 5.3rem;
    top: 38rem;
}

.ardsuperM{
    position: fixed;
    width: 15rem;
    top: 20rem;
    right: 3.5rem;
}

.earthShadowM{
    position: fixed;
    width: 12rem;
    top: 40rem;
    left: 2.7rem;
}

.spaceStationM{
    position: fixed;
    width: 8rem;
    top: 8rem;
    left: 2rem;
}