.Bgm {
  position: fixed;
  width: 1.7rem;
  bottom: 3.5vw;
  right: 8vw;
  cursor: pointer;
  z-index: 100;
}

.Bgm_M {
  position: fixed;
  width: 2rem;
  top: 2.9rem;
  right: 1.6rem;
  cursor: pointer;
  z-index: 100;
}
