.Bgm {
  position: absolute;
  width: 1.7rem;
  bottom: 3.5vw;
  right: 14.5vw;
  cursor: pointer;
  z-index: 100;
}

.Bgm_M {
  position: absolute;
  width: 1.6rem;
  top: 1.5rem;
  right: 1.95rem;
  cursor: pointer;
  z-index: 100;
}
