
.background {
    background: #090b3b;
    color: white;
}



/* 스크롤바 설정*/
.scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* 스크롤바 막대 설정*/
  .scrollbar::-webkit-scrollbar-thumb{
      height: 17%;
      background-color: #101364;
      border-radius: 10px;
  }
  
  /* 스크롤바 뒷 배경 설정*/
  .scrollbar::-webkit-scrollbar-track{
      background-color: #1c2094;
  }